*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/app/release/
*.log
/app/debug/
*.jks
app/src/androidTest/
app/src/test/
/app/bugly/
/helper/build/
/helper/dist/
/helper/__pycache__/
main.spec