<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 添加360SDK必需要的权限。begin -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 添加360SDK必需要的权限。end  -->

    <application>

        <activity
            android:name="com.qihoo.gamecenter.sdk.activity.ContainerActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <!-- 支付宝签约后自动跳转到sdk配置 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- android host的值必须为游戏的包名 -->
                <data android:host="com.github.haocen2004.bh3_login_simulation" />
                <!-- android scheme的值必须不能变-->
                <data android:scheme="qihooonlinepay" />
            </intent-filter>
        </activity>

        <!-- payment activities begin -->
        <!--添加360SDK必需的activity：com.qihoopp.qcoinpay.QcoinActivity -->
        <activity
            android:name="com.qihoopp.qcoinpay.QcoinActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"></activity>

        <!-- 微信支付界面-->
        <!-- 汇付宝SDK 需添加 -->
        <activity
            android:name="com.heepay.plugin.activity.HyNotityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 以下Activity是SDK插件化使用的代理Activity -->
        <activity
            android:name="com.qihoo.sdkplugging.host.activity.HostProxyActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan"
            android:label="360SDK"
            android:exported="true">
            <intent-filter>
                <action android:name="com.qihoo.sdkplugging.host.proxy.activity.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- payment activities end -->

        <!-- 以下是360游戏新版本实时推送PUSH SDK声明，除了标红的，其他不可修改 -->
        <service
            android:name="com.qihoo.pushsdk.cx.PushService"
            android:exported="false"
            android:process=":PushClient" />
        <service
            android:name="com.qihoo.pushsdk.cx.PushService$InnerService"
            android:exported="false"
            android:process=":PushClient" />
        <service
            android:name="com.qihoo.pushsdk.keepalive.PushJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="com.qihoo.pushsdk.cx.PushLocalService" />


        <receiver
            android:name="com.qihoo.pushsdk.keepalive.PushWakeUpReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.SIG_STR" />
            </intent-filter>
        </receiver>

        <service android:name="com.qihoo.pushsdk.QPushHandleService" />
        <!-- push sdk 新增 必须是包名 -->
        <provider
            android:name="com.qihoo.pushsdk.sphelper.SPContentProvider"
            android:authorities="包名.sdk.sp.helper"
            android:exported="false"
            android:process=":PushClient" />
        <service android:name="com.qihoo.qpush.report.network.SurvivalService" />
        <receiver
            android:name="com.qihoo.pushsdk.QPushMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.qihoo.qpush.INFO_RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 360游戏新版本实时推送PUSH SDK声明 end -->

        <!--    <!—&#45;&#45;移动运营商登录activity&ndash;&gt;-->
        <activity
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/cmTheme" />

        <!--微信相关的activity，请直接使用demo中的WXEntryActivity类的代码实现，
        类的全名为：“应用包名.wxapi.WXEntryActivity”。

        注意
        1、微信appid是必须要有的参数，用于微信登录和分享功能，在微信官网申请，不需要的话可以随便填一个，不调用即可。
        2、如果使用微信登录功能，在Manifest中配置QHOPENSDK_WEIXIN_APPID字段，同时需发送邮件至shouyou360@qq.com，邮件需提供：游戏名称、游戏在360平台申请的appkey、游戏在微信申请的AppId和AppSecret。
        3、微信登录WXEntryActivity请务必按照demo示例来进行接入。
        Manifest中的QHOPENSDK_WEIXIN_APPID 字段可以先配成默认值，后续申请到微信的appid可以联系我们在服务端配置。
        注意2：不要修改此actitiy的android:name属性。
        例如：如果游戏的包名为com.a.b.c，那么应该将demo中的WXEntryActivity.java放到
        “${工程目录}/src/com/a/b/c/wxapi/WXEntryActivity.java”这个路径下。
        并将此java文件中的第一行package声明修改为“package com.a.b.c.wxapi;”
        -->
        <!--        <activity-->
        <!--            android:name=".wxapi.WXEntryActivity"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--            android:exported="true" />-->

        <!-- QQ登录相关的Activity 。
        注意：
        1、qq登录为选接内容，如果不接入，则不用添加此部分activity内容
        2、如果使用qq登录功能，在Manifest中配置QHOPENSDK_QQAPPID字段，同时需发送邮件至shouyou360@qq.com，邮件需提供：游戏名称、游戏在360平台申请的appkey、游戏在QQ开放平台申请的AppId。
        -->
        <!--        <activity-->
        <!--            android:name="com.tencent.tauth.AuthActivity"-->
        <!--            android:launchMode="singleTask"-->
        <!--            android:noHistory="true"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->

        <!--                <data android:scheme="tencent101434511" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <!-- QQ登录相关activity结束-->

        <!-- UpdateLib start -->
        <activity
            android:name="com.qihoo.updatesdk.lib.UpdateTipDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service
            android:name="com.qihoo.appstore.updatelib.CheckUpdateService"
            android:exported="false" />
        <!-- UpdateLib end -->

        <!-- 360 sdk 内部 service、activity start -->
        <service
            android:name="com.qihoo.sdkplugging.host.service.CommonHostProxyService"
            android:persistent="true"
            android:process=":gcpasremote"
            android:exported="true">
            <intent-filter>
                <action android:name="com.qihoo.sdkplugging.host.service.CommonHostProxyService" />
            </intent-filter>
        </service>
        <!-- 360 sdk 内部 service、activity end -->
        <!-- 应用内拦截下载，执行下载的service  start  -->
        <service
            android:name="com.qihoo.gamecenter.sdk.hook.DownloadService"
            android:launchMode="singleTask" />
        <!-- 应用内拦截下载，执行下载的service  end   -->

    </application>

    <!-- 添加360SDK必需的meta-data：QHOPENSDK_APPID。此处value为APPID。请在360应用开放平台注册申请-->
    <meta-data
        android:name="QHOPENSDK_APPID"
        android:value="203186051" />

    <!--添加360SDK必需的meta-data：QHOPENSDK_APPKEY。此处value为APPKEY。请在360应用开放平台注册申请-->
    <meta-data
        android:name="QHOPENSDK_APPKEY"
        android:value="08623c9d94abaabf60a19ef468e20c7c" />

    <!--必需的meta-data：QHOPENSDK_PRIVATEKEY。此处value为PRIVATEKEY不是APPSECRET，而是md5(app_secret +”#”+ app_key)，全小写，APPSECRET不允许保存在客户端！详见1.4 PrivateKey计算方法-->
    <meta-data
        android:name="QHOPENSDK_PRIVATEKEY"
        android:value="d34a1f0004b494c6e4b89fab99fc3987" />

    <meta-data
        android:name="QHOPENSDK_WEIXIN_APPID"
        android:value="wx38c06d349170365c" />
    <meta-data
        android:name="QHOPENSDK_QQAPPID"
        android:value="101434511" />

    <!-- 默认参数，不需要修改，直接复制就行 -->
    <meta-data
        android:name="DC_APPKEY"
        android:value="02522a2b2726fb0a03bb19f2d8d9524d" />
    <meta-data
        android:name="APP_KEY"
        android:value="n7a5gpvhzkny" />
    <meta-data
        android:name="APP_SECRET"
        android:value="ggm5oqotrjs8spkgwk5qjw5447bj7zl5" />
    <!-- 默认参数，不需要修改，直接复制就行，此段代码为可选。作用是适配安卓全面屏手机，比如小米mix系列。如果不加此段代码，会出现SDK的悬浮球在横屏游戏模式下不能贴边的问题。如果加入此段代码，那么你的游戏比例会被强制拉伸到全面屏的比例。比如正常手机都是16:9的屏幕比例，而有的全面屏是18:9，那么加入了此段代码，你的游戏画面就会被拉伸到18:9 。如果不加，则不会被拉伸。所以你需要根据自己的游戏适配画面比例来判断是否需要加。-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />

</manifest>