<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.haocen2004.login_simulation">

    <queries>
        <package android:name="com.meizu.gamecenter.service" />
        <package android:name="com.tencent.mobileqq" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 悬浮窗扫码权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 悬浮窗扫码后台进程权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 相册扫码权限 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- Ignore system app -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity android:name=".activity.TencentLoginActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ScannerActivity" />
        <activity android:name=".activity.CrashActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.FabScanner"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:ignore="Instantiatable" />

        <meta-data
            android:name="BSGameSdk_PaidGame"
            android:value="false" /> <!-- oppo options -->
        <meta-data
            android:name="debug_mode"
            android:value="true" />
        <meta-data
            android:name="is_offline_game"
            android:value="false" /> <!-- true:单机游戏 false:网游 -->
        <meta-data
            android:name="app_key"
            android:value="7NEgcusdF1ss0cK8CSwo8Ksk0" />
        <meta-data
            android:name="vivo_union_sdk"
            android:value="4.6.0.1" />

        <activity
            android:name="cn.gundam.sdk.shell.activity.ThemeProxyActivity"
            android:exported="true" />

        <service
            android:name="com.tencent.ysdk.module.sandbox.pipe.PipeService"
            android:exported="false"
            android:permission="TODO" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105553399" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.bsgamesdk.android.activity.CaptchaWebActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.WebActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.ExitActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.BSGameSdkAgreementActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.bsgamesdk.android.activity.Login_RegActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.LoadingActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.TouristActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgemsdk_activity_welcome_style" />
        <activity
            android:name="com.bsgamesdk.android.activity.NoticeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.PointActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.RegisterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.LicenseAgreementActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="cn.uc.gamesdk.activity.PullupActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="PullupActivity"
            android:launchMode="singleTop"
            android:taskAffinity="cn.uc.gamesdk.demo.diff"
            android:theme="@android:style/Theme.Translucent"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ng654463" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.gundam.sdk.shell.activity.ProxyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="cn.uc.gamesdk.sdkweb" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vivo.unionsdk.ui.UnionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="union.vivo.com"
                    android:path="/openjump"
                    android:scheme="vivounion" />
            </intent-filter>
        </activity> <!-- sdk service -->
        <service
            android:name="cn.gundam.sdk.shell.service.ProxyService"
            android:exported="true"
            android:permission="TODO"
            android:process=":bgservice" /> <!-- sdk service end -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>