<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.meizu.gamecenter.service" />
        <package android:name="com.heytap.htms" />
        <package android:name="com.huawei.hwid" />
        <package android:name="com.miHoYo.bh3.mz" />
        <package android:name="com.miHoYo.bh3.nearme.gamecenter" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 悬浮窗扫码权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 悬浮窗扫码后台进程权限 -->
    <!-- android 13 相册扫码权限修正 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- Ignore system app -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <!-- vivo sdk require -->
    <uses-permission android:name="vivo.game.permission.OPEN_JUMP_INTENTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ScannerAppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".activity.SponsorInfoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".activity.TencentLoginActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ScannerActivity" />
        <activity android:name=".activity.CrashActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.leancloud.push.PushService"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name=".util.FabScanner"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:ignore="Instantiatable" />

        <receiver
            android:name="cn.leancloud.push.LCBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="QHOPENSDK_APPID"
            android:value="203186051" /> <!-- 添加360SDK必需的meta-data：QHOPENSDK_APPKEY。此处value为APPKEY。请在360应用开放平台注册申请 -->
        <meta-data
            android:name="QHOPENSDK_APPKEY"
            android:value="08623c9d94abaabf60a19ef468e20c7c" /> <!-- 必需的meta-data：QHOPENSDK_PRIVATEKEY。此处value为PRIVATEKEY不是APPSECRET，而是md5(app_secret +”#”+ app_key)，全小写，APPSECRET不允许保存在客户端！详见1.4 PrivateKey计算方法 -->
        <meta-data
            android:name="QHOPENSDK_PRIVATEKEY"
            android:value="d34a1f0004b494c6e4b89fab99fc3987" />
        <meta-data
            android:name="QHOPENSDK_WEIXIN_APPID"
            android:value="wx38c06d349170365c" />
        <meta-data
            android:name="QHOPENSDK_QQAPPID"
            android:value="101434511" /> <!-- 默认参数，不需要修改，直接复制就行 -->
        <meta-data
            android:name="DC_APPKEY"
            android:value="02522a2b2726fb0a03bb19f2d8d9524d" />
        <meta-data
            android:name="APP_KEY"
            android:value="n7a5gpvhzkny" />
        <meta-data
            android:name="APP_SECRET"
            android:value="ggm5oqotrjs8spkgwk5qjw5447bj7zl5" />
        <meta-data
            android:name="BSGameSdk_PaidGame"
            android:value="false" /> <!-- oppo options -->
        <meta-data
            android:name="debug_mode"
            android:value="true" />
        <meta-data
            android:name="is_offline_game"
            android:value="false" /> <!-- true:单机游戏 false:网游 -->
        <meta-data
            android:name="app_key"
            android:value="7NEgcusdF1ss0cK8CSwo8Ksk0" />
        <meta-data
            android:name="vivo_union_sdk"
            android:value="4.6.0.1" />

        <activity
            android:name="cn.gundam.sdk.shell.activity.ThemeProxyActivity"
            android:exported="true" /> <!-- <service -->
        <!-- android:name="com.tencent.ysdk.module.sandbox.pipe.PipeService" -->
        <!-- android:exported="false" -->
        <!-- android:permission="TODO" /> -->
        <!-- <activity -->
        <!-- android:name="com.tencent.tauth.AuthActivity" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:noHistory="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="tencent1105553399" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="com.tencent.connect.common.AssistActivity" -->
        <!-- android:configChanges="orientation|screenSize|keyboardHidden" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <activity
            android:name="com.bsgamesdk.android.activity.CaptchaWebActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.WebActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.ExitActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.BSGameSdkAgreementActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.bsgamesdk.android.activity.Login_RegActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.LoadingActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.TouristActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgemsdk_activity_welcome_style" />
        <activity
            android:name="com.bsgamesdk.android.activity.NoticeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.PointActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.RegisterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.bsgamesdk.android.activity.LicenseAgreementActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="cn.uc.gamesdk.activity.PullupActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="PullupActivity"
            android:launchMode="singleTop"
            android:taskAffinity="cn.uc.gamesdk.demo.diff"
            android:theme="@android:style/Theme.Translucent"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ng654463" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.gundam.sdk.shell.activity.ProxyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="cn.uc.gamesdk.sdkweb" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vivo.unionsdk.ui.UnionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="union.vivo.com"
                    android:path="/openjump"
                    android:scheme="vivounion" />
            </intent-filter>
        </activity> <!-- sdk service -->
        <service
            android:name="cn.gundam.sdk.shell.service.ProxyService"
            android:exported="true"
            android:permission="TODO"
            android:process=":bgservice" /> <!-- sdk service end -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>